
body {
	font-family: 'Quicksand', sans-serif;
	/* background-image: url("images/image1.jpg");
	background-size: 100%; */
}

/* Header */

/* Navbar */

#navbar {
	height: 40px;
	background-color: white;
	/* position: fixed; */
	width: 100%;
	/* z-index: 1; */
}

li.buttons {
	list-style-type: none;
	display: inline;
	float: right;
	margin-right: 60px;
	margin-top: -3px;
	font-size: 20px;

}

.buttons a:hover, .dropdown:hover .dropbtn {
	color: #29E6D6;
	text-decoration-line: none;
}

li a {
	color: #00706D;
}

li a, .dropbtn {
	display: inline-block;
	font-size: 20px;
}

li.dropdown {				
	display: inline-block;
	float: right;
	margin-right: 60px;
	margin-top: -3px;
}

/* nevyzkoušeno postupně */

.dropdown-content {
  	display: none;
  	position: absolute;
  	min-width: 160px;
  	z-index: 1;
  	padding-top: 15px;
}

.dropdown-content a {
	color: white;
  	text-decoration: none;
  	display: block;
  	line-height: 35px;
}

.dropdown-content a:hover {
	color: #00706D;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* konec: nevyzkoušeno postupně */

/* IMAGE */

img.norway-landscape {
	width: 100%;
}

/* Footer part */

/* Welcome text */

div.welcome {
	width: 100%;
	height: 330px;
	background-color: #00706D;
	border:1px;
	border-color: transparent;
	border-bottom-left-radius: 300px 50px;
	position: relative;
	line-height: 40px;
}
div.welcome2 {
	width: 50%;
	margin: auto;
	padding: 100px 0;
}

p.my-text {
	color: white;
	text-align: center;
	font-size: 23px;
}

p.my-text span {
	color: #FF7868;
}

/* Sign up */

div.sign-up {
	width: 100%;
	height: 400px;
	background-color: white;
	line-height: 40px;
}

div.sign-up2 {
	padding-top: 105px;
}

p.sign-text {
	text-align: center;
	font-size: 23px;
	color: #00706D;
}

span.sign-text-big {
	font-weight: bold;
	font-size: 25px;
}

/* Signing form */

/* form[action] {
	width: 100%;
  	left : 100px;
  	top  : 50px;
  	margin: auto;
} */

div.form-form {
	width: 100%;
	height: 100px;
	position: relative;
}

div.email-sign {
	width: 370px;
	height: 70px;
	outline: none;
	margin: auto;
	margin-top: 60px;
}

input[type=text] {
	width: 260px;
	padding-left: 15px;
}

input[type=text]:focus {
	border: 2px solid #29E6D6;
}

input[type=submit] {
	background-color: #FF7868;
	color: white;
	font-weight: bold;
	margin-left: 30px;
	width: 80px;
}

input[type=text], input[type=submit] {
	display: inline-block;
	float: left;
	border-radius: 5px;
}

/* Social media */

div.social {
	width: 100%;
	height: 300px;
	background-color: #29E6D6;
	border:1px;
	border-color: transparent;
	border-top-right-radius: 300px 50px;
}

/* Copyright and contact */

div.copy-contact {
	width: 100%;
	height: 60px;
	background-color: #FF7868;
}










